.DS_Store
.env
.flaskenv
*.pyc
*.pyo
env/
venv/
.venv/
dist/
build/
*.egg
*.egg-info/
_mailinglist
.tox/
.cache/
.mypy_cache/
.pytest_cache/
.idea/
docs/_build/
.vscode
docker-compose.mtu.yml
# Coverage reports
htmlcov/
.coverage
.coverage.*
*,cover
.pdm-python
__pypackages__
__pycache__
text.csv